[submodule "rowgenerators"]
	path = rowgenerators
	url = https://github.com/Metatab/rowgenerators.git
    branch = master
[submodule "metatab-declarations"]
	path = metatab-declarations
	url = https://github.com/Metatab/metatab-declarations.git
    branch = master
[submodule "geoid"]
	path = geoid
	url = https://github.com/Metatab/geoid.git
    branch = master
[submodule "metatab"]
	path = metatab
	url = https://github.com/Metatab/metatab.git
    branch = master
[submodule "metapack"]
	path = metapack
	url = https://github.com/Metatab/metapack.git
    branch = master
[submodule "publicdata"]
	path = publicdata
	url = https://github.com/Metatab/publicdata.git
    branch = master
[submodule "notebook-templates"]
	path = notebook-templates
	url = https://github.com/Metatab/notebook-templates.git
[submodule "metapack-wp"]
	path = metapack-wp
	url = https://github.com/Metatab/metapack-wp.git
[submodule "metapack-build"]
	path = metapack-build
	url = https://github.com/Metatab/metapack-build.git
[submodule "metapack-jupyter"]
	path = metapack-jupyter
	url = https://github.com/Metatab/metapack-jupyter.git
[submodule "psurl"]
	path = psurl
	url = https://github.com/Metatab/psurl.git
[submodule "metapack-ld"]
	path = metapack-ld
	url = https://github.com/Metatab/metapack-ld.git
[submodule "metapack-db"]
	path = metapack-db
	url = https://github.com/Metatab/metapack-db.git
[submodule "metapack-dev"]
	path = metapack-dev
	url = https://github.com/Metatab/metapack-dev.git
[submodule "metapack-github"]
	path = metapack-github
	url = https://github.com/Metatab/metapack-github.git
[submodule "sdipylib"]
	path = sdipylib
	url = https://github.com/sandiegodata/sdipylib.git
[submodule "publicdata_census"]
	path = publicdata_census
	url = https://github.com/Metatab/publicdata_census.git
[submodule "publicdata_pums"]
	path = publicdata_pums
	url = https://github.com/Metatab/publicdata_pums.git
