attrs
blas
bzip2
ca-certificates
cairo
certifi
click
click-plugins
cligj
curl
expat
fiona
fontconfig
freetype
freexl
gdal
geopandas
geos
gettext
giflib
glib
hdf4
hdf5
icu
intel-openmp
jpeg
json-c
kealib
krb5
libboost
libcurl
libcxx
libcxxabi
libdap4
libedit
libffi
libgdal
libgfortran
libiconv
libkml
libnetcdf
libpng
libpq
libspatialindex
libspatialite
libssh2
libtiff
libxml2
mkl
mkl-service
mkl_fft
mkl_random
munch
ncurses
numpy
numpy-base
openjpeg
openssl
pandas
pcre
pip
pixman
poppler
poppler-data
proj4
pyproj
python
python-dateutil
pytz
readline
rtree
setuptools
shapely
six
sqlite
tk
wheel
xerces-c
xz
zlib
zstd
