[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "*"
boto = "*"
boto3 = "*"
bs4 = "*"
codegen = "*"
colored = "*"
decorator = "*"
descartes = "*"
filelock = "*"
fs = ">=2"
geopandas = "*"
h5py = "*"
invoke = "*"
ipykernel = "*"
jupyter = "*"
jupyter-console = "*"
jupyterlab = "*"
meta = "*"
nameparser = "*"
nbconvert = "*"
numpy = "*"
pandas = "*"
petl = "*"
pybtex = "*"
pyproj = "*"
python-dateutil = "*"
requests = "*"
scipy = "*"
semantic-version = "*"
tabulate = "*"
terminaltables = "*"
unicodecsv = "*"
wrapt = "*"
xlrd = "*"
Fiona = "*"
Shapely = "*"
Jinja2 = "*"
LiveStats = "*"
Markdown = "*"
PyYAML = "*"
importlib-metadata = "<3,>=0.12"
pre-commit = "*"

[dev-packages]
rowgenerators = {editable = true, path = "./rowgenerators"}
geoid = {editable = true, path = "./geoid"}
metatab = {editable = true, path = "./metatab"}
metatabdecl = {editable = true, path = "./metatab-declarations"}
metapack = {editable = true, path = "./metapack"}
metapack-build = {editable = true, path = "./metapack-build"}
metapack-wp = {editable = true, path = "./metapack-wp"}
metapack-github = {editable = true, path = "./metapack-github"}
metapack-jupyter = {editable = true, path = "./metapack-jupyter"}
metapack-robot = {editable = true, path = "./metapack-robot"}
publicdata = {editable = true, path = "./publicdata"}

[requires]
python_version = "3.10"
