
# Dependencies of metatab packages
Fiona
IPython
Shapely
aniso8601
boto
boto3
bs4
codegen
colored
decorator
descartes
filelock
fs >= 2
geopandas
h5py
invoke
ipykernel
ipython
jinja2
jupyter
jupyter-console
jupyterlab
livestats
markdown
meta
nameparser
nbconvert
numpy
pandas
petl
prompt-toolkit
pybtex
pyproj
python-dateutil
pyyaml
requests
scipy
semantic_version
tabulate
terminaltables
unicodecsv
wrapt
xlrd
